flask==2.0.2
gunicorn==20.1.0
matplotlib==3.4.3
numpy==1.21.2
nltk==3.6.5
python-dotenv==0.19.1
scikit_learn==1.0
-f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
torch==1.8.2+cu102
tqdm==4.62.3
