<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <h1>Text Style Transfer</h1>
    <p>It can take 5 minutes to complete a style transfer.</p>
    <form method="POST" action="styleTransfer">
      <label for="c_sent">Content sentence</label>
      <input name="c_sent" id="c_sent" size="50" required>
      <br>
      <label for="s_sent">Style sentence</label>
      <input name="s_sent" id="s_sent" size="50" required>
      <br>
      <label for="num_steps">Number of steps</label>
      <input type="range" name="num_steps" min="0" max="50" value="25" step="1"
        oninput="this.nextElementSibling.value = this.value" required>
      <output>20</output>
      <br>
      <input type="submit" value="Transfer">
    </form>
    <p><strong>Final sentence:</strong> {{f_sent}}</p>
  </body>
</html>
